/* Box sizing, margin and padding rules*/
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-color: transparent;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 1px solid black;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-padding-block-start: 5rem;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  inline-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* prevents outline on pseudo classes on anchor links */
a:focus,
a:visited,
a:active {
  outline-color: transparent;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons and prevent blue highlight box */
input,
button,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  outline: transparent;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  background-color: hsl(210, 60%, 98%);
  word-spacing: 1px;
}

p {
  color: hsl(219, 12%, 42%);
}

strong {
  font-weight: 800;
}
strong:hover {
  cursor: pointer;
}

.name {
  color: hsl(224, 21%, 14%);
}

.post {
  color: hsl(219, 12%, 42%);
}

.group {
  color: hsl(219, 85%, 26%);
}

.notif {
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem 1rem;
  display: grid;
  gap: 1.275rem;
}
.notif__header {
  display: flex;
  justify-content: space-between;
}
.notif__header__title {
  font-size: 1.25rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: hsl(224, 21%, 14%);
}
.notif__header__title__span {
  font-size: 1rem;
  padding: 0.025rem 0.7rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(219, 85%, 26%);
  border-radius: 0.35rem;
}
.notif__container {
  display: grid;
  gap: 0.75rem;
}
.notif__item {
  padding: 1rem;
  display: flex;
  font-size: 0.9rem;
  gap: 0.8rem;
  border-radius: 0.75rem;
  line-height: 1.35;
}
.notif__item__content__message {
  margin-block-start: 1rem;
  border: 1px solid hsl(211, 68%, 94%);
  border-radius: 0.25rem;
  padding: 1rem;
}
.notif__item__content__message:hover {
  background-color: hsl(210, 60%, 98%);
}
.notif__item__content__timestamp {
  color: hsl(219, 14%, 63%);
}
.notif__item__content--container {
  display: flex;
  justify-content: space-around;
}
.notif__item__img {
  align-self: start;
  inline-size: 2.5rem;
}

.img--post {
  margin-inline-start: auto;
}

.btn {
  border: 0;
  background-color: transparent;
  font-size: 0.85rem;
  letter-spacing: 0.1px;
  color: hsl(219, 12%, 42%);
}
.btn:hover {
  cursor: pointer;
}

.unread {
  background-color: hsl(210, 60%, 98%);
}

.unread-span {
  width: 10px;
  height: 10px;
  background-color: hsl(1, 90%, 64%);
  display: inline-block;
  border-radius: 100%;
}

.no-display {
  display: none;
}

@media (min-width: 421px) {
  body {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notif {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    inline-size: min(100%, 45rem);
  }
  .notif__header__title {
    font-size: 1.5rem;
  }
  .notif__item {
    gap: 1rem;
  }
  .notif__item__content__par {
    font-size: 1rem;
  }
  .notif__item__content__timestamp {
    font-size: 1rem;
  }
  .notif__item__img {
    width: 3rem;
  }
  .btn {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
